<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idogfooding.backbone">

<!--
    &lt;!&ndash; 拨打电话 &ndash;&gt;
    <uses-permission android:name="android.permission.CALL_PHONE" />
    &lt;!&ndash; 定位 &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    &lt;!&ndash; 手机信息 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    &lt;!&ndash; 网络 &ndash;&gt;
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    &lt;!&ndash; 摄像 &ndash;&gt;
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    &lt;!&ndash; 存储 &ndash;&gt;
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    &lt;!&ndash; android 8.0 安装未知来源应用 &ndash;&gt;
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- file path provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.camera.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_camera" />
        </provider>

    </application>

</manifest>
